.red-nav {
    width: 100%;
    background-color: #ED3729;
    height: 50px;
    color: #fff;
}

.nav-red {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-red div {
    display: flex;
    gap: 53px;
    align-items: center;
}

.nav-red ul {
    display: flex;
    gap: 33px;
    align-items: center;
}

.nav-red h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.nav-red ul li {
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

/* ////////////////////////////////////////////////////////////////////////////////// */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    /* overflow: hidden; */
    /* position: fixed; */
}

.logo-img {
    width: 189px;
    height: 37px;
}

.nav-search {
    width: 597px;
    height: 40px;
    border: 1px solid #ED3729;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* padding: 8px 12px; */
    position: relative;
    overflow: hidden;
}

#select {
    width: 125px;
    outline: none;
    padding: 3px;
    position: absolute;
    z-index: 2;
    border: none;
    left: 20px;
}

.nav-search input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-left: 165px;
    outline: none;
    border: none;
}

.micro-scan {
    position: absolute;
    z-index: 3;
    /* left: 450px; */
    right: 120px;
    display: none;
}

.nav-search button {
    position: absolute;
    z-index: 3;
    right: 0;
    width: 107px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #ED3729;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.extras {
    width: 297px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.extras div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 14px;
}

.red-cirlce {
    width: 14px;
    height: 14px;
    background: #ED3729;
    color: #fff;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.icons-extra {
    font-size: 18px;
    cursor: pointer;
}

.modal-nav {
    position: fixed;
    z-index: 9598959;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 450px;
    min-height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.modal-box label {
    font-size: 19px;
    border-bottom: 1px solid gray;
    font-weight: 600;
    padding: 2px;
}

.modal-box label span {
    color: #ED3729;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
}

.modal-box p {
    top: 10px;
    right: 15px;
    position: absolute;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width:1284px) {
    .nav-red ul,
    .nav-red div {
        display: none;
    }
    .nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .extras{
        margin-top: 15px;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {

    .nav-red ul,
    .nav-red div {
        display: none;
    }

    .nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .infos{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px !important;
    }
    .infos li{
        border: 1px solid red;
        padding: 2px;
        border-radius: 8px;
    }
    .infos p{
        display: none !important;
    }
    .nav-search {
        width: 100%;
    }
    .extras{
        margin-top: 15px;
        justify-content: space-around;
        width: 100%;
    }
}

@media screen and (min-width:480px) and (max-width: 768px) {
    .header .infos {
        display: none;
    }

    .nav-search {
        width: 100%;
    }

    .extras {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
    }
}

@media screen and (max-width: 480px) {
    .header .infos {
        display: none;
    }
    .micro-scan{
        display: none;
    }
    .nav-search button{
        width: 80px;
    }
    .logo-img {
        width: 150px;
        object-fit: contain;
    }

    .nav-search {
        width: 100%;
    }

    .extras {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    #select {
        width: 80px;
        margin-left: 0;
        left: 5px;
    }

    .nav-search input {
        padding-left: 90px;
    }
}

/* @media screen and (max-width:1080px) {
    .nav-bar {
        top: 0;
        z-index: 99999999;
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width:520px) {
    .nav-red {
        display: none;
    }

    .red-nav {
        display: none;
    }

    .extras {
        display: none;
    }

    .logo-img {
        width: 130px;
        object-fit: contain;
    }

    .nav-search select {
        display: none;
    }

    .nav-search {
        width: 250px;
        height: 35px;
        border: 1px solid #ED3729;
        border-radius: 5px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .nav-search input {
        padding-left: 10px;
    }

    .nav-search button {
        position: absolute;
        z-index: 3;
        right: 0;
        width: 70px;
        height: 40px;
        border: none;
        color: #fff;
        background-color: #ED3729;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
} */